{:deps
 {binaryage/oops #:mvn{:version "0.7.0"}
  camel-snake-kebab #:mvn{:version "0.4.1"}
  cljs-ajax #:mvn{:version "0.8.0"}
  codox/codox #:mvn{:version "0.10.7"}
  com.stuartsierra/dependency #:mvn{:version "1.0.0"}
  emotion-cljs #:mvn{:version "0.1.1"}
  funcool/promesa #:mvn{:version "5.1.0"}
  hodgepodge #:mvn{:version "0.1.3"}
  keechma/malli-forms {:git/url "https://github.com/keechma/keechma-malli-forms"
                       :sha "d36657f6195e2e6cbda95a806dedc36f7bb8d74f"}
  keechma.next/toolbox
  {:git/url "https://github.com/keechma/keechma-next-toolbox.git"
   :sha "ad7b3c44c15a887006eb58080cc2990d40aaeb4c"}
  lilactown/helix #:mvn{:version "0.0.14"}
  medley #:mvn{:version "1.2.0"}
  nubank/workspaces #:mvn{:version "1.0.15"}
  org.clojure/clojure #:mvn{:version "1.10.1"}
  org.clojure/clojurescript #:mvn{:version "1.10.773"}
  org.clojure/core.async #:mvn{:version "0.7.559"}
  thheller/shadow-cljs #:mvn{:version "2.11.23"}}
 :paths ["src" "test"]}
